.textHeight{
  height: 250px;
} 

.alertHeight{
  height: 50px;
}

.btn-orange{
  display: inline-block;
  background-color:indianred;
  font-size: 16px;
  margin: 10px;
  border-radius: 6px;
  padding: 12px 24px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-orange:hover{
  background-color: #8b29ef;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    animation: App-logo-spin infinite 20s linear;
  }
}










